<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Profile</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/dashboard/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/dashboard/css/simple-sidebar.css" rel="stylesheet">
    <link href="assets/room/css/style.css" rel="stylesheet">
<!-- profile -->
    <script src="assets/dashboard/css/bootstrap.min.js"></script>

    <script src="assets/dashboard/css/jquery.min.js"></script>

</head>

<body>

    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">NPM Hotel</div>
            <div class="list-group list-group-flush">
                <a href="/dashboard" class="list-group-item list-group-item-action bg-light">Dashboard</a>
                <a href="/room" class="list-group-item list-group-item-action bg-light">Room</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Overview</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Events</a>
                <a href="/dashboardprofile" class="list-group-item list-group-item-action bg-light">Profile</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Status</a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
          <section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-8 col-xl-6">
        <div class="row">
          <div class="col text-center">
            <h1>Room Information</h1>
            <p class="text-h3">Provide with proper details</p>
          </div>
        </div>
          <form method="POST" class="register-form" id="register-form">
        <div class="row align-items-center">
          <div class="col-lg-6">
          </div>
          <div class="col mt-4">
            <input type="text" class="form-control" placeholder="Room Name" name="rname"  id="rname">
          </div>
        </div>
        <div class="row align-items-center mt-4">
          <div class="col">
            <input type="text" class="form-control" placeholder="price" name="rprice" id="rprice">
          </div>
        </div>
        <div class="row align-items-center mt-4">
          <div class="col-md-12">
              <div class="form-group form-group-textarea mb-md-0">
                  <textarea class="form-control" placeholder="Your Message *" required="required" data-validation-required-message="Please enter room details" name="rdescription" id="rdescription"></textarea>
                  <p class="help-block text-danger"></p>
              </div>
          </div>
        </div>
        <div class="row justify-content-start mt-4">
          <div class="col">

              <input type="submit" name="signup" id="signup" class="btn btn-primary mt-4" value="REGISTER"/>

          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</section>

        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="assets/dashboard/vendor/jquery/jquery.min.js"></script>
    <script src="assets/dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
